@using WebGrease.Css
@model PokemonExtraLifeApi.Models.Dashboard.GroupModel

<div id="GroupSection">
    <div>
        <h3>Active Group</h3>
        <span>Active Group:</span>
        <span>
            @(Model.ActiveGroup == null ? "No Active Group" : Model.ActiveGroup.Name)
        </span>
        <div>
            @if (Model.ActiveGroup != null)
            {
                using (Ajax.BeginForm("Group", "Dashboard", new AjaxOptions
                 {
                     HttpMethod = "DELETE",
                     InsertionMode = InsertionMode.Replace,
                     UpdateTargetId = "GroupSection"
                 }))
                 {
                     <button type="submit">Stop Group</button>
                 }
            }
        </div>
    </div>
    <div>
        <h3>Start a group</h3>
        @using (Ajax.BeginForm("Group", "Dashboard", new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "GroupSection"
        }))
        {
            @Html.DropDownListFor(m => m.SelectedGroup, Model.PotentialGroupsList)
            <button type="submit" @(Model.ActiveGroup == null ? string.Empty : "disabled=\"disabled\"") >Start Selected Group</button>
        }
    </div>
</div>