@model PokemonExtraLifeApi.Models.Dashboard.DashboardModel

<div class="row">
    <div class="col-4">
        @{ Html.RenderPartial("Donations", Model.DonationsModel); }
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col-6">
                @{ Html.RenderPartial("Summary", Model.SummaryModel); }
            </div>
            <div class="col-6">
                @{ Html.RenderPartial("Group", Model.GroupModel); }
            </div>
            <div class="col-6">
                @{ Html.RenderPartial("Games", Model.GamesModel); }
            </div>
            <div class="col-6">
                @{ Html.RenderPartial("PokemonStatus", Model.PokemonStatusModel); }
            </div>
        </div>
    </div>
</div>