@model PokemonExtraLifeApi.Models.Dashboard.DashboardModel

<!DOCTYPE html>

<html>
<head>
    @Scripts.Render("~/bundles/js/Dashboard")
    <title>2018 Extra Life Dashboard</title>
</head>
<body>
<input type="checkbox" id="reloadToggle"/>
<div>
    @{
        Html.RenderPartial("Summary", Model.SummaryModel);
        Html.RenderPartial("Group", Model.GroupModel);
        Html.RenderPartial("Games", Model.GamesModel);
    }
</div>
</body>
</html>