@model PokemonExtraLifeApi.Models.Dashboard.DashboardModel

<!DOCTYPE html>

<html>
<head>
    <title>2018 Extra Life Dashboard</title>
</head>
<body>
<div>
    @{
     Html.RenderPartial("Summary", Model.SummaryModel);
        Html.RenderPartial("Group", Model.GroupModel);
      }
</div>
</body>
</html>