@model PokemonExtraLifeApiCore.Models.Analytics.IndexModel

@section Scripts
{
    <script src="js/analytics.js"></script>
}

<div class="row">
    <div class="col-6">
        <div id="HourlyChart"></div>
    </div>
    <div class="col-6">
        <div id="GymChart"></div>
    </div>
</div>